# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы окружения
.env

# Игнорировать сборочные файлы
dist/
build/

# Игнорировать логи
*.log

# Игнорировать временные файлы
*.tmp
*.swp

# Игнорировать системные файлы
.DS_Store
Thumbs.dbgi

node_modules/