.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  padding: 18px;
  height: 75%;
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.check-button {
  width: 100%;
}



.btnHover {
  background-color: #6767F5;
}

.buttons-title {
  color: #99A2AD;
}