:root {
  /* Акценты */
  --color-dark-page: #0D0E12;
  --color-dark-content: #181725;
  --color-dark-content--head: #212031;
  --color-dark-content--body: #1A1925;
  --color-dark-accent: #6767F5;
  --color-dark-text--primary: #F5F9FF;
  --color-dark-text--secondary: #D4CDFF;
  --color-dark-text--tetritary: #A297FA;

  --color-light-page: #FBFBFB;
  --color-light-conten: #FFFFFF;
  --color-light-modal--head: #FBFBFB;
  --color-light-modal--body: #FFFFFF;
  --color-light-accent: #4848FF;
  --color-light-text--primary: #000000;
  --color-light-text--secondary: #5E5E5E;
  --color-light-text--tetritary: #919191;
}
