:root {
  /* Акценты */
  --color-success: #4cd964;
  --color-: #ab9871;
  --color-: #adb8ff;
  --color-error: #eb4250;
  --color-warning: #ffa000;

  --card-light-bg: #ffffff;
  --card-light-title: #000000;
  --card-light-question: #6d7885;
  --card-light-answer: #909499;

  --card-dark-bg: #19191a;
  --card-dark-title: #e1e3e6;
  --card-dark-question: #6d7885;
  --card-dark-answer: #909499;

  --card-numeric: #5d5f61;
}
