@import '../../styles/variables.css';

.select {
  padding: 25px 10px;
  border-radius: 10px;
  background-color: var(--color-dark-content);
  // display: flex;
  // flex-direction: column;
  // gap: 24px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 60px;
  }


  &__preview {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &__accent {
    color: var(--color-dark-accent);
  }

  &__icon {
    transition: all 0.2s ease;
      
    &_active {
      transform: rotate(180deg);
    }
  }
  
  &__content {
    max-height: 0; /* Скрываем содержимое */
    overflow: hidden;
    opacity: 0; /* Прячем содержимое */
    transform: translateY(-10px); /* Сдвигаем контент вверх */
    transition: all 0.2s ease-in-out;

    &_view {
      margin-top: 24px;
      max-height: 2000px; 
      opacity: 1; 
      transform: translateY(0); 

    }

    &_row {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
